# Node
node_modules/
**/node_modules/
package-lock.json
npm-debug.log*

# Frontend build
frontend/build/

# Installer build
installer/dist_installer/

# Python
__pycache__/
*.py[cod]
.venv/
requirements.txt

# OS
.DS_Store
Thumbs.db
